 body {
  background: #000;
  color: #fff;
  padding: 25px;
  font-family: cursive;
}
@keyframes fadecolors {
 0% {
  background-color: red;
 }
 25% {
  background-color: purple;
 }
 50% {
  background-color: blue;
 }
 75% {
  background-color: purple;
 }
 100% {
  background-color: red;
 }
}
body {
 animation: fadecolors 20s ease-in infinite;
}
